.slide-in-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 40%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  z-index: 1000;
  overflow-y: auto;
  animation: slideInMenu 0.4s ease-in forwards;
  /* Animation for sliding out */
}
.slide-in-menu .menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
.slide-in-menu .menu-header h1 {
  margin: 0;
}
.slide-in-menu .menu-header .close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}
.slide-in-menu .menu-options {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 20px;
}
.slide-in-menu .menu-options .menu-option {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.slide-in-menu .menu-options .menu-option h5 {
  font-weight: lighter;
  margin: 0 auto;
}
.slide-in-menu .small-screen-button {
  display: none;
}
@keyframes slideInMenu {
  from {
    transform: translateX(-100%); /* Start position: off the screen */
  }
  to {
    transform: translateX(0); /* End position: fully visible */
  }
}
@keyframes slideOutMenu {
  from {
    transform: translateX(0); /* Start position: fully visible */
  }
  to {
    transform: translateX(-100%); /* End position: off the screen */
  }
}
.slide-in-menu .slide-in-menu.closed {
  animation: slideOutMenu 0.4s ease-out forwards; /* Slide the menu out when it's closing */
}
.slide-in-menu .slide-in-menu.open {
  animation: slideInMenu 0.4s ease-in forwards; /* Slide the menu in when it's open */
}

@media (min-width: 0px) {
  .right {
    display: none;
  }
  .slide-in-menu {
    width: 100%;
  }
  .slide-in-menu .small-screen-button {
    display: flex;
    justify-content: center;
  }
  .slide-in-menu .small-screen-button .keep-together .explore-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 8em;
    height: 3.5em;
    background-color: white;
    border: solid 2px #cccc66;
    border-left-style: none;
    border-right-style: none;
    font-size: 1em;
    border-radius: 1rem;
    color: #cccc66;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
  }
  .slide-in-menu .small-screen-button .keep-together:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
  }
  .slide-in-menu .small-screen-button .keep-together:hover:not(:disabled) {
    background: lightcoral;
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
  }
  .slide-in-menu .small-screen-button .keep-together:disabled {
    cursor: auto;
    color: grey;
  }
}
@media (min-width: 400px) {
  .slide-in-menu {
    width: 50%;
  }
  .slide-in-menu .small-screen-button {
    display: none;
  }
}
@media (min-width: 401px) and (max-width: 480px) {
  .slide-in-menu {
    width: 50%;
  }
  .slide-in-menu .small-screen-button {
    display: flex;
  }
}
@media (min-width: 700px) {
  .slide-in-menu {
    width: 45%;
  }
  .slide-in-menu .small-screen-button {
    display: none;
  }
}
@media (min-width: 1000px) {
  .slide-in-menu {
    width: 45%;
  }
  .slide-in-menu .small-screen-button {
    display: none;
  }
}

/*# sourceMappingURL=SlideInMenu.css.map */
