@import 'flex-mixins.scss';

.lh_navContainer {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100px;
  height: 100px;

  .lh_items {
    height: 100%;
    padding: 10px;
    @include lh_flexboxCenterRow;

    .lh_left {
      //border: solid 0.5px red;
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin-left: 20px;


      .lh_keepTogether {
        .lh_menuIcon {
          @include lh_menuIconSize
        }

        .lh_olympicLogo {
          @include lh_olympicIconSize
        }
      }
    }

    .lh_right {
      //border: solid 0.5px blue;
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      .lh_keepTogether {
        // Styling for this button taken from https://uiverse.io/aasisodiya/nasty-cat-19
        @include lh_navExploreButton;
        .lh_exploreButton {
          @include lh_flexboxCenterRow;
        }
      }
    }

  }
}

// When the explore button needs to be hidden
.lh_itemsWithoutExplore {
  display:flex;

  .lh_items {

    height: 100%;
    padding: 10px;

    .lh_menuIcon {
      @include lh_menuIconSize
    }

    .lh_olympicLogo {
      @include lh_olympicIconSize
    }
  }
}



@media (max-width: 768px) {
  .lh_navContainer {
    .lh_items {
      .lh_left {
        width: 50%;
      }
      .lh_right {
        width: 50%;
      }
    }
  }
}

@media (max-width: 480px) {
  .lh_navContainer {
    .lh_items {
      .lh_left {

        width: 100%;
        justify-content: center;
        .lh_keepTogether {
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      .lh_right {
        display: none; // Hide the right side on smaller screens
      }

    }
  }
}

// keeps the left items in nav stuck to the left
@media (min-width: 480px) {
  .lh_navContainer {
    .lh_items {
      .lh_left {
        //border: solid 1px red;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }
}



