@import 'flex-mixins.scss';

$background-color: white;

.lh_olympicsBody {
  width: 100%;
  @include lh_bodyBackgroundColor;


  .lh_informationContainer {
    display: grid;
    $background-color: white;
  }
}