@import 'flex-mixins.scss';

$color-white: white;

.lh_slideInMenu {

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 40%;
  background-color: $color-white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  // Initially hide the menu off the screen
  transform: translateX(-100%);

  // Ensure menu appears above other content
  z-index: 1000;
  overflow-y: auto;

  // Animation for sliding in
  animation: slideInMenu 0.4s ease-in forwards;

  .menuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid $color-white;

    h1 {
      margin: 0;
    }

    .closeButton {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 24px;
    }
  }

  .menuOptions {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;

    .menuOption {
      padding: 10px;
      border-bottom: 1px solid $color-white;

      cursor: pointer;

      h5{
        font-weight: lighter;
        margin: 0 auto;
      }
    }
  }

  .lh_smallScreenButton {
    display: none;
  }

  // Animation for sliding in
  @keyframes slideInMenu {
    from {
      transform: translateX(-100%); /* Start position: off the screen */
    }
    to {
      transform: translateX(0); /* End position: fully visible */
    }
  }

  /* Animation for sliding out */
  @keyframes slideOutMenu {
    from {
      transform: translateX(0); /* Start position: fully visible */
    }
    to {
      transform: translateX(-100%); /* End position: off the screen */
    }
  }

  .lh_slideInMenu.closed {
    animation: slideOutMenu 0.4s ease-out forwards; /* Slide the menu out when it's closing */
  }
  .lh_slideInMenu.open {
    animation: slideInMenu 0.4s ease-in forwards; /* Slide the menu in when it's open */
  }

}


@media (min-width: 0px) {
  .lh_right {
    display: none;
  }
  .lh_slideInMenu {
    width: 100%;
        .lh_smallScreenButton {
          @include lh_justifiyContentCenter;
          .lh_keepTogether {
            @include lh_navExploreButton;
          }
        }
  }
}
@media (min-width: 400px) {
  .lh_slideInMenu {
    width: 50%;
    .lh_smallScreenButton {
      display: none;
    }
  }
}
@media (min-width: 401px) and (max-width: 480px) {
  .lh_slideInMenu {
    width: 50%;
    .lh_smallScreenButton {
      display: flex;
    }
  }
}

@media (min-width: 700px) {
  .lh_slideInMenu {
    width: 45%;
    .lh_smallScreenButton {
      display: none;
    }
  }
}

@media (min-width: 1000px) {
  .lh_slideInMenu {
    width: 45%;
    .lh_smallScreenButton {
      display: none;
    }
  }
}
